.spettatori-impostazioni a {
    position: absolute;
    right: 5px;
    top: 5px;

    text-decoration: none;
    background-color: grey;
    color: white;
    padding: 2px;
    border-radius: 5px;
    font-size: 11px;
}

.speaker {
    right: 20px;
    top: 5px;
}

.gestione-personale {
    height: 70px;
    width: 100vw;
}

/* vista schermata spettatori */
.spettatori {
    position: relative;
    background-color: black;
    width: 100vw;
    max-height: calc(100vh - 70px);
    padding: 30px 30px 10px 30px;

    flex-wrap: wrap;

}

.spettatori-view {
    position: relative;
    width: calc(100% / 7 - 60px);
    margin: 0px 5px 10px 0px;
}


.mic-name {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: lightgray;
}

/* comandi sotto */

.gestione-personale {
    display: flex;
}